<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.ivr.mapper.FlowInfoMapper">


    <resultMap id="FlowInfoVoMap" type="com.och.ivr.domain.vo.FlowInfoVo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="flowData" column="flow_data" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

  <sql id="selectFlowInfoInfoVo">
      select
          fi.id,
          fi.group_id,
          if(fi.group_id = 0, '默认分组', lc.name) as group_name,
          fi.name,
          fi.desc,
          fi.status,
          fi.flow_data,
          fi.create_by,
          fi.create_time,
          fi.update_by,
          fi.update_time,
          fi.del_flag
      from
          flow_info fi
              left join sys_category lc on lc.id = fi.group_id
  </sql>
    <select id="getInfo" resultMap="FlowInfoVoMap">
        select
            fi.id,
            fi.group_id,
            if(fi.group_id = 0, '默认分组', lc.name) as group_name,
            fi.name,
            fi.desc,
            fi.status,
            fi.flow_data,
            fi.create_by,
            fi.create_time,
            fi.update_by,
            fi.update_time,
            fi.del_flag
        from
            flow_info fi
                left join sys_category lc on lc.id = fi.group_id
        where fi.id = #{id}
    </select>

    <select id="getList" resultMap="FlowInfoVoMap">
        <include refid="selectFlowInfoInfoVo"/>
        <where>
           <if test="id != null">
               and fi.id = #{id}
           </if>
           <if test="groupId != null">
               and fi.group_id = #{groupId}
           </if>
           <if test="name != null and name != ''">
               and fi.name like concat('%',#{name},'%')
           </if>
           <if test="desc != null and desc != ''">
               and fi.`desc` like concat('%',#{desc},'%')
           </if>
           <if test="status != null">
               and fi.status = #{status}
           </if>
           <if test="beginTime != null">
               and fi.create_time &gt;= #{beginTime}
           </if>
           <if test="endTime != null">
               and fi.create_time &lt;= #{endTime}
           </if>
        </where>
        and fi.del_flag = 0
        order by fi.id desc
    </select>

</mapper>

