<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.ivr.mapper.FlowEdgesMapper">

    <resultMap type="com.och.ivr.domain.entity.FlowEdges" id="FlowEdgesMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="sourceNodeId" column="source_node_id" jdbcType="BIGINT"/>
        <result property="targetNodeId" column="target_node_id" jdbcType="BIGINT"/>
        <result property="condition" column="condition" jdbcType="VARCHAR"/>
        <result property="flowId" column="flow_id" jdbcType="BIGINT"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

  <sql id="selectFlowEdgesInfoVo">
     
   </sql>

</mapper>

