<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.CallSkillMapper">

    <resultMap type="com.och.system.domain.entity.CallSkill" id="CallSkillMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="describe" column="describe" jdbcType="VARCHAR"/>
        <result property="strategyType" column="strategy_type" jdbcType="INTEGER"/>
        <result property="fullBusyType" column="full_busy_type" jdbcType="INTEGER"/>
        <result property="overflowType" column="overflow_type" jdbcType="INTEGER"/>
        <result property="overflowValue" column="overflow_value" jdbcType="VARCHAR"/>
        <result property="timeOut" column="time_out" jdbcType="INTEGER"/>
        <result property="queueLength" column="queue_length" jdbcType="INTEGER"/>
        <result property="queueVoice" column="queue_voice" jdbcType="INTEGER"/>
        <result property="agentVoice" column="agent_voice" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.och.system.domain.vo.skill.CallSkillVo" id="CallSkillDetailMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="describe" column="describe" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="strategyType" column="strategy_type" jdbcType="INTEGER"/>
        <result property="fullBusyType" column="full_busy_type" jdbcType="INTEGER"/>
        <result property="overflowType" column="overflow_type" jdbcType="INTEGER"/>
        <result property="overflowValue" column="overflow_value" jdbcType="VARCHAR"/>
        <result property="timeOut" column="time_out" jdbcType="INTEGER"/>
        <result property="queueLength" column="queue_length" jdbcType="INTEGER"/>
        <result property="queueVoice" column="queue_voice" jdbcType="INTEGER"/>
        <result property="agentVoice" column="agent_voice" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <collection property="agentList" ofType="com.och.system.domain.vo.skill.CallSkillAgentRelVo">
            <result property="id" column="rel_id" jdbcType="INTEGER"/>
            <result property="agentId" column="agent_id" jdbcType="INTEGER"/>
            <result property="agentName" column="agent_name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="selectLfsSkillInfoVo">
        select id,
               group_id,
               name,
               `describe`,
               priority,
               strategy_type,
               full_busy_type,
               overflow_type,
               overflow_value,
               time_out,
               queue_length,
               queue_voice,
               agent_voice,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from call_skill
    </sql>

    <sql id="selectInfoVo">
        select cs.id,
               cs.group_id,
               if(cs.group_id = 0, '默认分组', sc.name) as group_name,
               cs.name,
               cs.`describe`,
               cs.priority,
               cs.strategy_type,
               cs.full_busy_type,
               cs.overflow_type,
               cs.overflow_value,
               cs.time_out,
               cs.queue_length,
               cs.queue_voice,
               cs.agent_voice,
               cs.create_by,
               cs.create_time,
               cs.update_by,
               cs.update_time,
               csar.id         as rel_id,
               csar.agent_id,
               sa.name      as agent_name
        from call_skill cs
                 left join call_skill_agent_rel csar on csar.skill_id = cs.id and csar.del_flag = 0
                 left join sip_agent sa on sa.id = csar.agent_id
                 left join sys_category sc on sc.id = cs.group_id
    </sql>

    <select id="getDetail" resultMap="CallSkillDetailMap">
        <include refid="selectInfoVo"/>
        <where>
            and cs.id = #{id}
        </where>
    </select>

    <select id="getIdsByQuery" resultType="java.lang.Long">
        select distinct cs.id
        from call_skill cs
        left join call_skill_agent_rel csar on csar.skill_id = cs.id and csar.del_flag = 0
        left join sip_agent sa on sa.id = csar.agent_id
        left join sys_category sc on sc.id = cs.group_id
        <where>
            <if test="groupId != null">
                and cs.group_id = #{groupId}
            </if>
            <if test="name != null and name != ''">
                and cs.name like concat('%',#{name},'%')
            </if>
            <if test="describe != null and describe != ''">
                and cs.`describe` like concat('%',#{describe},'%')
            </if>
            <if test="agentId != null">
                and sa.id = #{agentId}
            </if>
            <if test="agentName != null and agentName != ''">
                and sa.name like concat('%',#{agentName},'%')
            </if>
            and cs.del_flag = 0
        </where>
    </select>

    <select id="getList" resultMap="CallSkillDetailMap">
        <include refid="selectInfoVo"/>
        <where>
            <if test="id != null ">
                and cs.id = #{id}
            </if>
            <if test="ids != null and ids.size() > 0">
                and cs.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="groupId != null">
                and cs.group_id = #{groupId}
            </if>
            <if test="name != null and name != ''">
                and cs.name like concat('%',#{name},'%')
            </if>
            <if test="describe != null and describe != ''">
                and cs.`describe` like concat('%',#{describe},'%')
            </if>
            <if test="agentId != null">
                and sa.id = #{agentId}
            </if>
            <if test="agentName != null and agentName != ''">
                and sa.name like concat('%',#{agentName},'%')
            </if>
            and cs.del_flag = 0
        </where>
    </select>

    <select id="getListByIds" resultMap="CallSkillDetailMap">
        <include refid="selectInfoVo"/>
        <where>
            <if test="ids != null and ids.size() > 0">
                and cs.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>

