<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.CallRecordMapper">

    <resultMap type="com.och.system.domain.entity.CallRecord" id="CallRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="callId" column="call_id" jdbcType="VARCHAR"/>
        <result property="callerNumber" column="caller_number" jdbcType="VARCHAR"/>
        <result property="callerDisplayNumber" column="caller_display_number" jdbcType="VARCHAR"/>
        <result property="calleeNumber" column="callee_number" jdbcType="VARCHAR"/>
        <result property="calleeDisplayNumber" column="callee_display_number" jdbcType="VARCHAR"/>
        <result property="numberLocation" column="number_location" jdbcType="VARCHAR"/>
        <result property="agentId" column="agent_id" jdbcType="INTEGER"/>
        <result property="agentNumber" column="agent_number" jdbcType="VARCHAR"/>
        <result property="agentName" column="agent_name" jdbcType="VARCHAR"/>
        <result property="callState" column="call_state" jdbcType="INTEGER"/>
        <result property="direction" column="direction" jdbcType="INTEGER"/>
        <result property="callStartTime" column="call_start_time" jdbcType="TIMESTAMP"/>
        <result property="callEndTime" column="call_end_time" jdbcType="TIMESTAMP"/>
        <result property="answerFlag" column="answer_flag" jdbcType="INTEGER"/>
        <result property="answerTime" column="answer_time" jdbcType="TIMESTAMP"/>
        <result property="ringingTime" column="ringing_time" jdbcType="TIMESTAMP"/>
        <result property="hangupDir" column="hangup_dir" jdbcType="INTEGER"/>
        <result property="hangupCauseCode" column="hangup_cause_code" jdbcType="INTEGER"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="ringingPath" column="ringing_path" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

  <sql id="selectCallRecordInfoVo">
     
   </sql>
    <select id="getCallPageList" resultType="com.och.system.domain.vo.call.CallRecordVo">
        SELECT
        cr.id,
        cr.call_id,
        cr.caller_number,
        cr.caller_display_number,
        cr.callee_number,
        cr.callee_display_number,
        cr.number_location,
        cr.agent_id,
        cr.agent_number,
        cr.agent_name,
        cr.call_state,
        cr.direction,
        cr.call_start_time,
        cr.call_end_time,
        cr.answer_flag,
        cr.answer_time,
        cr.ringing_time,
        cr.hangup_dir,
        cr.hangup_cause_code,
        cr.file_path,
        cr.ringing_path,
        cr.create_by,
        cr.create_time,
        cr.update_by,
        cr.update_time
        FROM call_record cr
        <where>
            cr.del_flag = 0
            <if test="callId != null and callId != ''">
                AND cr.call_id = #{callId}
            </if>
        </where>
        order by cr.id desc
    </select>

</mapper>

