<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.OchDataSourcesContactMapper">

    <resultMap type="com.och.system.domain.entity.OchDataSourcesContact" id="OchDataSourcesContactMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="sourceId" column="source_id" jdbcType="BIGINT"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="OchDataSourceContactVoMap" type="com.och.system.domain.vo.calltask.DataSourcesContactVo">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="contact" column="contact" typeHandler="com.och.system.handler.JsonObjectTypeHandler"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

  <sql id="selectOchDataSourcesContactInfo">
     
   </sql>


    <select id="getContactList" resultMap="OchDataSourceContactVoMap">
        select id,
               source_id,
               contact,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from och_data_sources_contact
        <where>
            <if test="sourceId != null">
                and source_id = #{sourceId}
            </if>
            <if test="phone != null and phone != ''">
                and contact_phone like concat('%',#{phone},'%')
            </if>
            <if test="uuid != null and uuid != ''">
                and contact_uuid = #{uuid}
            </if>
            and del_flag = 0
        </where>
        order by id desc
    </select>

</mapper>

