<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.OchDataSourcesMapper">

    <resultMap type="com.och.system.domain.entity.OchDataSources" id="OchDataSourcesMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

  <sql id="selectOchDataSourcesInfo">
     
   </sql>
    <select id="getList" resultType="com.och.system.domain.vo.calltask.DataSourceVo">
        select ods.id,
               ods.name,
               ods.remark,
               ods.create_by,
               ods.create_time,
               ods.update_by,
               ods.update_time,
               ods.del_flag,
               '' as field_list,
               count(odsf.id) as field_num,
               count(odsc.id) as contact_num
        from och_data_sources ods
        left join och_data_sources_field odsf on ods.id = odsf.source_id and odsf.del_flag = 0
        left join och_data_sources_contact odsc on ods.id = odsc.source_id and odsc.del_flag = 0
        <where>
            <if test="id != null">
                and ods.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and ods.name like concat('%',#{name},'%')
            </if>
            <if test="beginTime != null">
                and ods.create_time &gt;= DATE_FORMAT(#{beginTime},'%Y-%m-%d 00:00:00')
            </if>
            <if test="endTime != null">
                and ods.create_time &lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d 23:59:59')
            </if>
        </where>
        group by ods.id order by ods.id desc
    </select>

</mapper>

