<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.OchRegionMapper">

    <resultMap type="com.och.system.domain.entity.OchRegion" id="OchRegionMap">
        <result property="regionId" column="region_id" jdbcType="VARCHAR"/>
        <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="shortName" column="short_name" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
        <result property="zipCode" column="zip_code" jdbcType="VARCHAR"/>
        <result property="mergerName" column="merger_name" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="VARCHAR"/>
        <result property="lat" column="lat" jdbcType="VARCHAR"/>
        <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
    </resultMap>

  <sql id="selectOchRegionInfoVo">
     
   </sql>

</mapper>

