<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.system.mapper.VoiceFileMapper">

    <resultMap type="com.och.system.domain.vo.file.VoiceFileVo" id="VoiceFileMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="tts" column="tts" jdbcType="INTEGER"/>
        <result property="speechText" column="speech_text" jdbcType="VARCHAR"/>
        <result property="fileId" column="file_id" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

  <sql id="selectVoiceFileInfoVo">
      select vf.id,
             vf.name,
             vf.type,
             vf.tts,
             vf.speech_text,
             vf.file_id,
             sf.file_name,
             sf.file_path,
             sf.file_size,
             vf.create_by,
             vf.create_time,
             vf.update_by,
             vf.update_time,
             vf.del_flag
      from voice_file vf
      left join sys_file sf on sf.id = vf.file_id
  </sql>

    <select id="getDetail" resultMap="VoiceFileMap">
        <include refid="selectVoiceFileInfoVo"/>
        <where>
            and vf.id = #{id}
        </where>
    </select>

    <select id="getList" resultMap="VoiceFileMap">
        <include refid="selectVoiceFileInfoVo"/>
        <where>
            <if test="id != null">
                and vf.id = #{id}
            </if>
            <if test="ids != null and ids.size() > 0">
                and vf.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="name != null and name != ''">
                and  vf.`name` like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and vf.`type` = #{type}
            </if>
            <if test="tts != null">
                and vf.tts = #{tts}
            </if>
            and vf.del_flag = 0
        </where>
        order by vf.id desc
    </select>

</mapper>

