<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.och.calltask.mapper.CallTaskMapper">

    <resultMap type="com.och.calltask.domain.vo.CallTaskVo" id="CallTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="startDay" column="start_day" jdbcType="TIMESTAMP"/>
        <result property="endDay" column="end_day" jdbcType="TIMESTAMP"/>
        <result property="sTime" column="s_time" jdbcType="VARCHAR"/>
        <result property="eTime" column="e_time" jdbcType="VARCHAR"/>
        <result property="workCycle" column="work_cycle" jdbcType="VARCHAR"/>
        <result property="crowdId" column="crowd_id" jdbcType="INTEGER"/>
        <result property="assignmentType" column="assignment_type" jdbcType="INTEGER"/>
        <result property="isPriority" column="is_priority" jdbcType="INTEGER"/>
        <result property="receiveLimit" column="receive_limit" jdbcType="INTEGER"/>
<!--        <result property="agentList" column="agent_list" jdbcType="VARCHAR"/>-->
        <result property="completeType" column="complete_type" jdbcType="INTEGER"/>
        <result property="phonePoolId" column="phone_pool_id" jdbcType="INTEGER"/>
        <result property="transferType" column="transfer_type" jdbcType="INTEGER"/>
        <result property="transferValue" column="transfer_value" jdbcType="VARCHAR"/>
        <result property="recall" column="recall" jdbcType="INTEGER"/>
        <result property="recallNum" column="recall_num" jdbcType="INTEGER"/>
        <result property="recallTime" column="recall_time" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectCallTaskInfoVo">

    </sql>

    <select id="getList" resultMap="CallTaskMap">
        select
            ct.id,
            ct.name,
            ct.type,
            ct.status,
            ct.priority,
            ct.start_day,
            ct.end_day,
            ct.s_time,
            ct.e_time,
            ct.work_cycle,
            ct.crowd_id,
            ct.assignment_type,
            ct.is_priority,
            ct.receive_limit,
            ct.agent_list,
            ct.complete_type,
            ct.phone_pool_id,
            ct.transfer_type,
            ct.transfer_value,
            ct.recall,
            ct.recall_num,
            ct.recall_time,
            ct.remark,
            ct.create_by,
            ct.create_time,
            ct.update_by,
            ct.update_time,
            ct.del_flag,
            cc.name as crowd_name,
            cdp.name as phone_pool_name
        from call_task ct
        left join customer_crowd cc on ct.crowd_id = cc.id
        left join call_display_pool cdp on ct.phone_pool_id = cdp.id
        <where>
            <if test="id != null">
                and ct.id = #{id}
            </if>
            <if test="idList != null">
                and ct.id in
                <foreach item="item" collection="idList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
            <if test="name != null">
                and ct.name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and ct.type = #{type}
            </if>
            <if test="startDay != null">
                and ct.start_day &gt;= #{startDay}
            </if>
            <if test="endDay != null">
                and ct.end_day &lt;= #{endDay}
            </if>
            <if test="crowdId != null">
                and ct.crowd_id = #{crowdId}
            </if>
            <if test="completeType != null">
                and ct.complete_type = #{completeType}
            </if>
            and ct.del_flag = 0
        </where>
        order by ct.id desc
    </select>

</mapper>

